<div class="login-wrapper">
  <h1 style="color:red">LOGIN CARGADO</h1>

  <form
    class="login-card"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">

    <h2>Bienvenido 👋</h2>
    <p class="subtitle">Ingresa tus credenciales</p>

    <div class="input-group">
      <span class="icon">📧</span>
      <input
        type="email"
        placeholder="Correo electrónico"
        formControlName="email">
    </div>

    <div class="input-group">
      <span class="icon">🔒</span>
      <input
        type="password"
        placeholder="Contraseña"
        formControlName="password">
    </div>

    <button
      type="submit"
      [disabled]="!loginForm.valid">
      Ingresar
    </button>

  </form>
</div>