<div class="dashboard">

  <!-- Título -->
  <div class="dashboard-header">
    <h1>Dashboard</h1>
    <p>Resumen general del sistema</p>
  </div>

  <!-- KPIs -->
  <div class="kpi-grid">

    <div class="kpi-card blue">
      <div class="kpi-icon">
        <i class="fas fa-boxes"></i>
      </div>
      <div>

        <span>Productos</span>
        <h2>{{ totalProducts }}</h2>
      </div>
    </div>

    <div class="kpi-card indigo">
      <div class="kpi-icon">
        <i class="fas fa-cubes"></i>
      </div>
      <div>
        <span>Inventario</span>
        <h2>{{ totalUnidades }}</h2>
      </div>
    </div>

    <div class="kpi-card purple">
  <div class="kpi-icon">
    <i class="fas fa-coins"></i>
  </div>

  <div>
    <span>Valor inventario</span>
    <h2>{{ totalInventoryValue | currency:'COP':'symbol':'1.0-0' }}</h2>
  </div>
</div>

<div class="kpi-card red">
  <div class="kpi-icon">
    <i class="fas fa-exclamation-triangle"></i>
  </div>

  <div>
    <span>Stock bajo</span>
    <h2>{{ lowStockProducts }}</h2>
  </div>

  
</div>

<div class="kpi-card green">
  <span>Ventas dia</span>
  <h2>{{ salesToday | currency:'COP':'symbol':'1.0-0' }}</h2>
</div>

    <div class="kpi-card green">
      <div class="kpi-icon">
        <i class="fas fa-truck"></i>
      </div>
      <div>
        <span>Proveedores</span>
        <h2>{{ totalSuppliers }}</h2>
      </div>
    </div>

    <div class="kpi-card yellow">
      <div class="kpi-icon">
        <i class="fas fa-receipt"></i>
      </div>
      <div>
        <span>Órdenes</span>
        <h2>{{ pendingOrders }}</h2>
      </div>
    </div>

  </div>

  <!-- Sección de gráficos -->
  <div class="dashboard-grid">

    <!-- Ventas -->
    <div class="card">
      <h3>Ventas del mes</h3>
      <canvas #ventasChart></canvas>
    </div>

    <!-- Productos más vendidos -->
    <div class="card">
      <h3>Productos más vendidos</h3>
      <canvas #productosChart></canvas>
    </div>


    <div class="card">
  <h3>Alertas de inventario</h3>
  <canvas id="stockChart"></canvas>
</div>

    <!-- Inventario por ubicación -->
    <div class="card">
      <h3>Inventario por ubicación</h3>
      <canvas #inventarioChart height="150"></canvas>
    </div>

    <!-- Últimas órdenes -->
    <div class="card">
      <h3>Últimas órdenes</h3>

      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Estado</th>
          </tr>
        </thead>

        <tbody>
         <tr *ngFor="let order of lastOrders">
  <td>{{ order.id }}</td>
  <td>{{ order.client?.name }}</td>

  <td>
    <span class="status"
          [ngClass]="{
            'pending': order.state === 'PENDING',
            'paid': order.state === 'PAID',
            'cancelled': order.state === 'CANCELLED'
          }">
      {{ order.state }}
    </span>
  </td>

</tr>
        </tbody>

      </table>

    </div>

  </div>

</div>